/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a {color: inherit;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-----------------------------------------------------*/

.container {
	width: 1360px;
	padding: 0 40px;
	box-sizing: content-box;
	margin: 0 auto;
}

.main {
}
/*--------------------header--------------------------*/

.header {
	margin-bottom: -7%;
}

.header__wrapper {
	padding: 48px 0;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	color: #EEEEEE;
	font-size: 16px;
}
.header__menu {
}
.menu {
}
.menu__items {
	display: flex;
	justify-content: flex-start;
	gap: 41px;
	/* color: #FFF; */
	font-size: 16px;
	line-height: 24px;
}
.menu__item {
	
}
.menu__link {
}

/*----------------coffee-roasters---------------------*/

.coffee-roasters {
	
}

.coffee-roasters__container {
	background: url(img/background/the-coffee-roasters.jpg) 29% 0  no-repeat;
	background-size: cover;
}

.coffee-roasters__wrapper {
	max-width: 962px;
	margin: 0 auto;
	padding: 287px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	color: #FFFFFF;
}
.coffee-roasters__logo {
}
.coffee-roasters__img {
}
.coffee-roasters__title {
	font-weight: 700;
	font-size: 96px;
	line-height: 96px;
}
.coffee-roasters__text {
	margin-bottom: 26px;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.coffee-roasters__link {
	min-width: 215px;
	min-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #FFFFFF;;
}