/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a {color: inherit;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	min-height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	line-height: 1;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-----------------------------------------------------*/

.container {
	width: 1360px;
	padding: 0 40px;
	box-sizing: content-box;
	margin: 0 auto;
}

.main {
	flex: 1 1 auto;
}
/*--------------------header--------------------------*/

.header {
	margin-bottom: -7%;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.header__wrapper {
	padding: 3.5% 0;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	color: #EEEEEE;
	font-size: 16px;
}
.header__menu {
}
.menu {
}
.menu__items {
	display: flex;
	justify-content: flex-start;
	gap: 41px;
	color: #FFF;
	font-size: 16px;
	line-height: 24px;
}
.menu__item {
	
}
.menu__link {
}

/*----------------coffee-roasters---------------------*/

.coffee-roasters {
}

.coffee-roasters__container {
	background: url(img/background/the-coffee-roasters.jpg) 58% 0  no-repeat;
	background-size: cover;
}

.coffee-roasters__wrapper {
	max-width: 962px;
	margin: 0 auto;
	padding: 288px 0 274px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	color: #FFFFFF;
}
.coffee-roasters__logo {
}
.coffee-roasters__img {
}
.coffee-roasters__title {
	font-weight: 700;
	font-size: 96px;
	line-height: 96px;
}
.coffee-roasters__text {
	margin-bottom: 24px;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.coffee-roasters__link {
	width: 215px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #FFFFFF;;
}

/*-------------product-features--------------*/

.product-features {
}
.product-features__container {
	padding: 144px 0;
	background: url(/img/background/product_features.jpg) center no-repeat;
	background-size: cover;
	
}
.product-features__items {
	display: grid;
	grid-template-areas: 
		"one four"
		"two five"
		"three six";
		row-gap: 48px;
		column-gap: 176px;
		justify-items: center;
}
.product-features__item:nth-child(1) {
	grid-area: one;
}
.product-features__item:nth-child(2) {
	grid-area: two;
}
.product-features__item:nth-child(3) {
	grid-area: three;
}
.product-features__item:nth-child(4) {
	grid-area: four;
}
.product-features__item:nth-child(5) {
	grid-area: five;
}
.product-features__item:nth-child(6) {
	grid-area: six;
}
.product-features__item {
	max-height: 72px;
	display: grid;
	column-gap: 16px;
}
.product-features__item_icon-after{
	width: 352px;
	grid-template-columns: 272px 1fr;
	grid-template-areas: 
		"title icon"
		"text icon"; 
		text-align: right;
}


.product-features__title {
	grid-area: title;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.5;
	
}
.product-features__text {
	grid-area: text;
	font-size: 12px;
	line-height: 2;
}


.product-features__item_icon-after:after {
	content: '';
	background-size: 100%;
	grid-area: icon;
	width: 64px;
	height: 64px;
}
.product-features__item_icon-after:nth-child(1)::after {
	background: url(img/icon/product-features/indoor_seating.svg) 0 0 no-repeat;
}
.product-features__item_icon-after:nth-child(2)::after {
	background: url(img/icon/product-features/pet_friendly.svg) 0 0 no-repeat;
}
.product-features__item_icon-after:nth-child(3)::after {
	background: url(img/icon/product-features/take_away.svg) 0 0 no-repeat;
}

.product-features__item_icon-before {
	width: 352px;
	grid-template-columns: 64px 1fr;
	grid-template-areas: 
		"icon title"
		"icon text"; 
}
.product-features__item_icon-before:before {
	content: '';
	background-size: 100%;
	grid-area: icon;
	width: 64px;
	height: 64px;
}

.product-features__item_icon-before:nth-child(4)::before {
	background: url(img/icon/product-features/wheelchair_accessible.svg) 0 0 no-repeat;
}

.product-features__item_icon-before:nth-child(5)::before {
	background: url(img/icon/product-features//vegan_options.svg) 0 0 no-repeat;
}

.product-features__item_icon-before:nth-child(6)::before {
	background: url(img/icon/product-features/cyclist_friendly.svg) 0 0 no-repeat;
}

/*-------------------fresh-coffee----------------------*/
.fresh-coffee {
	
}
.fresh-coffee__container {
	background: url(img/background/bgi_coffee-bean.jpg)  0 0 no-repeat;
	background-size: 100%;
	padding: 96px 40px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}
.fresh-coffee__btn {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 199px;
	height: 48px;
	font-weight: 700;
	font-size: 16px;
	line-height: 48px;
	color: #FFF;
	border: 1px solid #FFFFFF;
}

/*----------------duplicate__block--------------------*/

.duplicate__block {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.duplicate__block_white-font {
	color: #FFFFFF;
}
.duplicate__block_black-font {
	color: #000;
}

.duplicate__block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}
.duplicate__block_decorate-white {
	margin: 0 auto;
	width: 189px;
	border: 1px solid #FFFFFF;
}

.duplicate__block_decorate-gray {
	margin: 0 auto;
	width: 189px;
	border: 1px solid #444444;
}
.duplicate__block__text {
	margin: 0 auto;
	width: 474px;
	font-size: 16px;
	line-height: 24px;
}

/*----------------explore-menu--------------*/

.explore__menu {
	

}
.explore__menu__container {
	padding: 96px 40px 82px 40px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.explore__menu__wrap {
	max-width: 1118px;
	margin: 0 auto;
	box-sizing: border-box;
}
.explore__menu__titles {
	margin-bottom: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.explore__menu__choice {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.explore__menu__items {
	padding: 10px;
	display: grid;
	column-gap: 30px;
	row-gap: 24px;
	grid-template-columns: repeat(2, 1fr);
}
.explore__menu__item {
	min-width: 544px;
	max-height: 72px;
	display: grid;
	grid-template-columns: 93px 1fr 40px;
	grid-template-areas: 
		"menu-icon menu-title price"
		"menu-icon menu-text menu-text ";
	align-items: start;
}


.explore__menu__item::before {
	content: '';
	width: 72px;
	height: 72px;
	grid-area: menu-icon;
	
}

.explore__menu__item:nth-child(1):before {
	background: url(img/menu/prufrock-breakfast-bun.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(2):before {
	background: url(img/menu/mushrooms.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(3):before {
	background: url(img/menu/bircher-muesli.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(4):before {
	background: url(img/menu/tomatoes-on-toast.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(5):before {
	background: url(img/menu/house-granola.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(6):before {
	background: url(img/menu/fruit-toast.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(7):before {
	background: url(img/menu/prufrock-benny.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(8):before {
	background: url(img/menu/eggs-on-toast.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(9):before {
	background: url(img/menu/soup.png) 0 0 no-repeat;
}
.explore__menu__item:nth-child(10):before {
	background: url(img/menu/toast.png) 0 0 no-repeat;
}
.explore__menu__title {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	grid-area: menu-title;
}
.explore__menu__text {
	font-size: 12px;
	line-height: 24px;
	grid-area: menu-text;
}
.explore__menu__price {
	font-size: 16px;
	line-height: 19px;
	grid-area: price;
	text-align: right;
}

/*----------------testimonials--------------*/
.testimonials {

}
.testimonials__container {
	padding: 96px 40px 106px 40px;
	background: url(img/background/testimonials.jpg) 0 0 no-repeat;
	background-size: cover;
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 24px;
}

.duplicate__block_decorate-white_margin-bottom {
	margin-bottom: 24px;
}

.testimonials__text {
	margin-bottom: 26px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}


.duplicate__block__text-testimonials-width {
	width: 735px;
}

.testimonials__slider {
	width: 53px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.testimonials__slider-items {
	width: 11px;
	height: 11px;
	border: 1px solid #FFF;
	border-radius: 50%;
	
}

/*----------------news---------------------*/

.news {
}
.news__container {
	padding: 96px 40px;
	display: grid;
	gap: 48px;
	background: #EEEEEE;
}
.news__items-wrap {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	gap: 32px;
}
.news__item {
	max-width: 352px;
	font-size: 16px;
	line-height: 24px;
}
.news__img {
	width: 352px;
	height: 288px;
	margin-bottom: 24px;
}
.news__title {
	font-weight: 700;
	text-transform: uppercase;
}
.news__text {
	text-align: left;
	margin-bottom: 24px;
}
.news__link {
	font-size: 12px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
}
.news__link::before {
	content: '';
	width: 12px;
	border: 1px solid #000000;
}

/*--------------our-locations-----------*/

.our-locations {
}
.our-locations__container {
	padding: 96px 40px 108px 40px;
	background: url(/img/background/locations.jpg) 0 0 no-repeat;
	background-size: cover;
	display: grid;
	gap: 33px;
}

.our-locations__wrap-items {
	display: flex;
	width: 1100px;
	margin: 0 auto;
	gap: 180px;
}
.our-locations__item {
	width: 256px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	flex: 1 1 33.333%;
	text-align: center;
	color: #fff;

}
.our-locations__img {
	width: 245px;
	height: 239px;
	border-radius: 50%;
	object-fit: cover;
}

.our-locations__title {
	font-size: 24px;
	line-height: 48px;
}
.our-locations__text {
	font-size: 16px;
	line-height: 24px;
}

/*----------------newsletter-------------*/

.newsletter {
}
.newsletter__container {
	background: #111111;
	padding: 96px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;

}

.newsletter__form {
	display: flex;
	gap: 24px;
	color: #fff;
}
.newsletter__input-email {
	width: 277px;
	height: 48px;
	padding: 5px 24px;
	background: #111111;
	border: 1px solid #fff;
}
.newsletter__input-email::placeholder {
	color: #fff;
	font-size: 16px;
	line-height: 48px;
}
.newsletter__btn {
	width: 173px;
	height: 48px;
	padding: 10px;
	background: #111111;
	border: 1px solid #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;	
	text-transform: uppercase;
	color: #fff;
}

/*-------------------footer------------------*/

.footer {
}
.footer__container {
	background: #111111;
	padding: 48px 40px;
	color: #FFFFFF;
	
}
.footer__wrap {
	width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copy {
	margin-right: -65px;
	font-size: 12px;
	line-height: 24px;
}
.footer__menu {
}
.footer__menu-items {
	display: flex;
	gap: 48px;
}
.footer__menu-item {
}
.footer__menu__link {
	font-size: 16px;
	line-height: 24px;
}
.footer__social {
}
.footer__social-items {
	display: flex;
	gap: 26px;
}
.footer__social-item {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: rgba(217, 217, 217, 0.1);
}
.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8px;
	line-height: 24px;
}